{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <ul class="talk-list">
        {% for talk in talks %}
            {{ block('talk') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block talk %}
    {% set url = 'https://www.youtube.com/watch?v=' ~ talk.video.youtubeId %}
    <li class="talk {{ talk.state }}">
        <img src="{{ yt_thumbnail(talk.video) }}" alt="{{ talk.title }}" title="{{ talk.title }}">

        <h3>
            <span class="date">
                {{ talk.day|date('d/m/Y') }}
            </span>
            <a href="{{ url }}" target="_blank">
                {{ talk.title }}
            </a>
        </h3>

        <p>{{ talk.description }}</p>

        <div class="player">
            {{ include(':youtube:player.html.twig', {video: talk.video}) }}
        </div>
    </li>
{% endblock %}
